.home__container{
  padding: 1rem;
  .section{
    margin-top: 1rem;
     background-color: rgb(237, 245, 245);
     border-radius: 2px;
     padding: 0.3rem;
     box-shadow: 1px 1px 1px 1px rgb(221, 224, 224);
  }
}